<header>
  <md-toolbar md-scroll-shrink ng-click="$root.openSideNav()" class="md-warn">
    <div class="md-toolbar-tools">
      <h3>
        <i class="fa fa-bars menu-hamburger"></i>
        <span>Rock Climb Canada</span>
      </h3>
      <div class="search">
        
      </div>
      <nav>
        <ul>
          <li><a href="/#/database" title="Database"><i class="fa fa-database"></i> Database</a></li>
          <li><a href="/forum" title="Forum"><i class="fa fa-comment"></i> Forum</a></li>
        </ul>
      </nav>
    </div>
  </md-toolbar>
</header>