.cec-sidebar {
  width: 240px;
  left: 0 !important;
}

.side-nav .logo {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 16px;
  border-bottom: 1px solid #ddd;
}

.side-nav .bold {
  font-weight: bold;
}

.ui-wrapper {
  padding-left: 260px !important;
  display: block;
}