<ul class="side-nav fixed" style="width: 240px;">
  <li class="logo">
    <a href="http://climbeasterncanada.com/" class="brand-logo">
      <img src="images/logo.png" alt="Climb Eastern Canada" />
    </a>
  </li>
  <li class="bold">
    <a href="/#/" class="waves-effect waves-teal">Home</a>
  </li>
  <li class="no-padding">
    <ul class="collapsible">
      <li class="bold">
        <a class="collapsible-header waves-effect waves-teal">New Brunswick</a>
        <div class="collapsible-body" style="display: none;">
          <ul>
            <li class="nav-location"><a href="/#/">Cochrane Lane</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li class="bold">
    <a href="/#/" class="waves-effect waves-teal">About</a>
  </li>
  <li class="bold">
    <a href="/#/" class="waves-effect waves-teal">Nova Scotia</a>
  </li>
  <li class="bold">
    <a href="/#/" class="waves-effect waves-teal">Contact</a>
  </li>
</ul>