<div class="edit-climb content">
  <h1>{{ EditClimbCtrl.action == 'create' ? 'Create' : 'Edit' }} Climb</h1>
  <form name="edit-route">
    <md-input-container>
      <label>Name</label>
      <input type="text" ng-model="EditClimbCtrl.climb.name" required>
    </md-input-container>

    <md-select ng-model="EditClimbCtrl.climb.grade" placeholder="Grade" required>
      <md-option ng-value="opt" ng-repeat="opt in ['5.0', '5.1', '5.2', '5.3', '5.4', '5.5', '5.6', '5.7', '5.8', '5.9', '5.10a', '5.10b', '5.10c', '5.10d', '5.11a', '5.11b', '5.11c', '5.11d', '5.12a', '5.12b', '5.12c', '5.12d', '5.13a', '5.13b', '5.13c', '5.13d', '5.14a', '5.14b', '5.14c', '5.14d', '5.15a', '5.15b', '5.15c', '5.15d', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'A0', 'A1', 'A2', 'A3']">
        {{ opt }}
      </md-option>
    </md-select>

    <md-select ng-model="EditClimbCtrl.climb.style" placeholder="Style" required>
      <md-option ng-value="opt" ng-repeat="opt in ['Traditional', 'Sport', 'Boulder', 'Aid', 'Mixed']">
        {{ opt }}
      </md-option>
    </md-select>

    <md-input-container>
      <label>Number of Bolts</label>
      <input type="text" ng-model="EditClimbCtrl.climb.number_of_bolts">
    </md-input-container>

    <md-input-container>
      <label>Anchor</label>
      <input type="text" ng-model="EditClimbCtrl.climb.anchor">
    </md-input-container>

    <md-select ng-model="EditClimbCtrl.climb.protection_rating" placeholder="Protection Rating" required>
      <md-option ng-value="opt" ng-repeat="opt in ['G', 'PG', 'R', 'X']">
        {{ opt }}
      </md-option>
    </md-select>

    <md-input-container>
      <label>Description</label>
      <textarea ng-model="EditClimbCtrl.climb.description" rows="6"></textarea>
    </md-input-container>

    <md-input-container>
      <label>First Ascent</label>
      <input type="text" ng-model="EditClimbCtrl.climb.first_ascent_by">
    </md-input-container>

    <md-input-container>
      <label>Year of First Ascent</label>
      <input type="text" ng-model="EditClimbCtrl.climb.first_ascent_year">
    </md-input-container>

    <md-input-container>
      <label>Height (m)</label>
      <input type="text" ng-model="EditClimbCtrl.climb.height_in_meters">
    </md-input-container>

    <md-checkbox ng-model="EditClimbCtrl.climb.is_multipitch" aria-label="Multipitch">
      Multipitch
    </md-checkbox>

    <md-checkbox ng-model="EditClimbCtrl.climb.is_project" aria-label="Project">
      Project
    </md-checkbox>

    <md-select ng-model="EditClimbCtrl.climb.location.id" placeholder="Location" required>
      <md-option ng-repeat="opt in EditClimbCtrl.locations" ng-value="opt.id">
        {{ opt.name }}
      </md-option>
    </md-select>

    <md-button class="md-raised md-primary md-hue-1" ng-click="EditClimbCtrl.action === 'create' ? EditClimbCtrl.climb.create() : EditClimbCtrl.climb.update()">
      {{ EditClimbCtrl.action == 'create' ? 'Create Climb' : 'Save Climb' }}
    </md-button>
  </form>
</div>