<div id="login">
  <md-input-container>
    <label>Email</label>
    <input ng-model="user.email" placeholder="Enter your email">
  </md-input-container>
  <md-input-container>
    <label>Password</label>
    <input ng-model="user.password" placeholder="Enter your password">
  </md-input-container>
  <md-input-container>
    <label>First Name</label>
    <input ng-model="user.firstName" placeholder="Enter your first name">
  </md-input-container>
  <md-input-container>
    <label>Last Name</label>
    <input ng-model="user.lastName" placeholder="Enter your last name">
  </md-input-container>
</div>