<div class="view-climb content">
  <h1>{{ ViewClimbCtrl.climb.name }} <span class="grade">{{ ViewClimbCtrl.climb.grade }}</span></h1>
  {{ ViewClimbCtrl.climb.rating }}

  <div layout="column">
    <div layout="row" layout-sm="column">
      <div flex class="climb-details">
        <md-card>
          <md-card-content>
            <md-list>
              <md-item ng-if="ViewClimbCtrl.climb.first_ascent_by || ViewClimbCtrl.climb.first_ascent_year">
                <md-item-content>
                  <div class="md-tile-left"><h2>FA</h2></div>
                  <div class="md-tile-content">{{ ViewClimbCtrl.climb.first_ascent_by ? ViewClimbCtrl.climb.first_ascent_by : '' }} {{ ViewClimbCtrl.climb.first_ascent_year ? '(' + ViewClimbCtrl.climb.first_ascent_year + ')' : '' }}</div>
                </md-item-content>
              </md-item>

              <md-item>
                <md-item-content>
                  <div class="md-tile-left"><h2>Style</h2></div>
                  <div class="md-tile-content">{{ ViewClimbCtrl.climb.style }}</div>
                </md-item-content>
              </md-item>

              <md-item ng-if="ViewClimbCtrl.climb.height_in_meters || ViewClimbCtrl.climb.is_multipitch">
                <md-item-content>
                  <div class="md-tile-left"><h2>Height (m)</h2></div>
                  <div class="md-tile-content">{{ ViewClimbCtrl.climb.height_in_meters ? ViewClimbCtrl.climb.height_in_meters : 'Unknown' }}{{ ViewClimbCtrl.climb.is_multipitch ? ' (multipitch)' : '' }}</div>
                </md-item-content>
              </md-item>

              <md-item ng-if="ViewClimbCtrl.climb.style == 'Sport' && ViewClimbCtrl.climb.number_of_bolts">
                <md-item-content>
                  <div class="md-tile-left"><h2>Number of Bolts</h2></div>
                  <div class="md-tile-content">{{ ViewClimbCtrl.number_of_bolts }}</div>
                </md-item-content>
              </md-item>

              <md-item ng-if="ViewClimbCtrl.climb.style == 'Traditional' && ViewClimbCtrl.climb.gear_notes">
                <md-item-content>
                  <div class="md-tile-left"><h2>Gear</h2></div>
                  <div class="md-tile-content">{{ ViewClimbCtrl.gear_notes }}</div>
                </md-item-content>
              </md-item>

              <md-item ng-if="ViewClimbCtrl.climb.style == 'Traditional' && ViewClimbCtrl.climb.protection_rating">
                <md-item-content>
                  <div class="md-tile-left"><h2>Protection Rating</h2></div>
                  <div class="md-tile-content">{{ ViewClimbCtrl.climb.protection_rating }}</div>
                </md-item-content>
              </md-item>

              <md-item ng-if="ViewClimbCtrl.climb.anchor">
                <md-item-content>
                  <div class="md-tile-left"><h2>Anchor</h2></div>
                  <div class="md-tile-content">{{ ViewClimbCtrl.climb.anchor }}</div>
                </md-item-content>
              </md-item>
            </md-list>
          </md-card-content>
        </md-card>
      </div>
      <div flex backstretch="http://4.bp.blogspot.com/-jlAi3wfHhIo/UVgnUuhNTLI/AAAAAAAADSQ/t4qwSpEe5mk/s1600/Missy_Snakepeel_2.jpg" class="feature-photo">
      </div>
    </div>
    <div flex class="description section">
      {{ ViewClimbCtrl.climb.description }}
    </div>
    <div flex class="photos section">
      <h2>Photos</h2>
      <!-- <ul ng-repeat-start="photo in ViewClimbCtrl.climb.photos">
        <li><img src="photo" alt="{{ ViewClimbCtrl.climb.name }}"></li>
      </ul> -->
    </div>
    <div flex class="comments section">
      <h2>Comments</h2>
    </div>
  </div>
</div>