<ul class="cec-sidebar side-nav fixed">
  <li class="logo">CEC Logo Here</li>
  <li class="bold no-padding"><a href="#" class="waves-effect waves-teal">Home</a></li>
  <li class="bold no-padding"><a href="#" class="waves-effect waves-teal">About This Site</a></li>
  <li class="bold no-padding"><a href="#" class="waves-effect waves-teal">Crags</a></li>
  <li class="bold no-padding"><a href="#" class="waves-effect waves-teal">Climbs</a></li>
  <li class="bold no-padding"><a href="#" class="waves-effect waves-teal">Support</a></li>
</ul>