<ul id="nav-mobile" class="side-nav fixed" style="width: 240px;">
  <li class="logo"><a id="logo-container" href="http://materializecss.com/" class="brand-logo">
      <object id="front-page-logo" type="image/svg+xml" data="res/materialize.svg">Your browser does not support SVG</object></a></li>
  <li class="bold"><a href="about.html" class="waves-effect waves-teal">About</a></li>
  <li class="bold"><a href="getting-started.html" class="waves-effect waves-teal">Getting Started</a></li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li class="bold"><a class="collapsible-header waves-effect waves-teal">CSS</a>
        <div class="collapsible-body">
          <ul>
            <li><a href="color.html">Color</a></li>
            <li><a href="grid.html">Grid</a></li>
            <li><a href="helpers.html">Helpers</a></li>
            <li><a href="media-css.html">Media</a></li>
            <li><a href="sass.html">Sass</a></li>
            <li><a href="shadow.html">Shadow</a></li>
            <li><a href="table.html">Table</a></li>
            <li><a href="typography.html">Typography</a></li>
          </ul>
        </div>
      </li>
      <li class="bold"><a class="collapsible-header waves-effect waves-teal">Components</a>
        <div class="collapsible-body">
          <ul>
            <li><a href="#">Badges</a></li>
            <li><a href="#">Buttons</a></li>
            <li><a href="#">Cards</a></li>
            <li><a href="#">Collections</a></li>
            <li><a href="#">Footer</a></li>
            <li><a href="#">Forms</a></li>
            <li><a href="#">Icons</a></li>
            <li><a href="#">Navbar</a></li>
            <li><a href="#">Pagination</a></li>
            <li><a href="#">Preloader</a></li>
          </ul>
        </div>
      </li>
      <li class="bold"><a class="collapsible-header waves-effect waves-teal">JavaScript</a>
        <div class="collapsible-body">
          <ul>
            <li><a href="#">Collapsible</a></li>
            <li><a href="#">Dialogs</a></li>
            <li><a href="#">Dropdown</a></li>
            <li><a href="#">Media</a></li>
            <li><a href="#">Modals</a></li>
            <li><a href="#">Parallax</a></li>
            <li><a href="#">Pushpin</a></li>
            <li><a href="#">ScrollFire</a></li>
            <li><a href="#">Scrollspy</a></li>
            <li><a href="#">SideNav</a></li>
            <li><a href="#">Tabs</a></li>
            <li><a href="#">Transitions</a></li>
            <li><a href="#">Waves</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li class="bold"><a href="#" class="waves-effect waves-teal">Mobile</a></li>
  <li class="bold"><a href="#" class="waves-effect waves-teal">Showcase</a></li>
</ul>